.header{
    background: #FFF;
    grid-area: header;
    height: 47px;
    .nav-bar{
        @include reset();
        display: flex;
        .nav-item{
            @include reset();
            margin-right:22px;
            line-height: 47px;
            list-style-type: none;
            .nav-link{
                color:$links-header;
            }
        }
    }
}