
$background: #E7EBEF;
$text-color: #000;
$links: #0084B4;
$search-active: #0084B4;
$links-header: #66757F;
$background-profile: #359DF4 #FFFFFF;
$button-primay-background: #359DF4; 
$button-primay-text: #FFF;
$button-secondary-background: #FFF;  
$button-secondary-text: #359DF4;
$backgorund-tweet: #F5F8FA;